.env
node_modules/
db/test

*.json
!.prettierrc.json
!*.metadata.json
!_SCHEMA.json

db/schema-base/_JobStatus.metadata.json

sample-program-data.js
*.csv

/build
db/schema-base/fs.files.metadata.json
db/schema-base/fs.chunks.metadata.json
